<div id='posts-container', data-posts='<%= @posts.to_json %>'></div>

<% @posts.each do |post| %>
  <article>
    <h2><%= link_to post.title, post %></h2>
    <%= simple_format post.body %>
    <p>Aantal comments: <%= post.comments.length %></p>
  </article>
<% end %>
